---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const { post } = Astro.props;
const { title, description, image, imagealt, author, pubDate, category } = post.data;

const date = new Date(pubDate);
const year = date.getFullYear();
const month = date.toLocaleString('en-US', { month: 'short' });
const day = date.getDate();
const formattedDate = `${day} ${month}`;

const authorname = await getEntry("team", author);
let name;
if (authorname) {
  ({ name } = authorname.data);
}

---
<section class="w-11/12 flex flex-col gap-2 my-14">
    <a href={`/stories/${post.slug}/`} class="flex flex-col gap-6" data-astro-reload>
        <Image class="max-w-full h-auto" src={image} alt={imagealt} />
        <h2 class="text-[25px] lora italic font-bold m-0 ms-6 capitalize">{title}</h2>
    </a>
    <div class="flex flex-row gap-3 ms-6">
        <p class="s text-gray-500 text-sm">
            <time datetime={pubDate} class="font-normal py-2">{formattedDate}, {year}</time> | By Admin
        </p>
    </div>
    <div class="ms-6">
        <p class="text-gray-600">{ description.slice(0, 250) + "..." }</p>
        <a  data-astro-reload href={`/stories/${post.slug}/`} class="w-44 lora italic flex flex-row justify-between items-center gap-3 bg-primary text-secondary hover:bg-secondary hover:text-white lora uppercase text-[11px] font-bold mt-5">
            <span class="w-4/5 text-center">Read More</span>
            <Icon name="arrowright" class="text-white bg-secondary flex justify-center items-center p-2 w-8 h-auto"/>
        </a>
    </div>
</section>

<hr class="w-11/12 h-0 border border-primary" />