---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { format } from 'date-fns';

const { post } = Astro.props;

const formattedDate = format(new Date(post.date), 'MMMM dd, yyyy');
---
<a href={`/stories/${post.slug}/`} class="flex flex-col gap-3 col-span-4 my-12 group">
    <article class="flex flex-col gap-3 bg-gray-100 text-black rounded-b-lg shadow-md shadow-black/20 group-hover:-mt-3 group-hover:mb-3 transition-all duration-700">
        <Image
          src={post.featuredImage?.node?.sourceUrl || 'https://placehold.co/550x300?text=No+Feaured+Image'}
          alt={post.featuredImage?.node?.altText || post.title}
          class="max-w-full h-auto rounded-t-lg"
          width={550}
          height={300}
        />
        <h2 class="text-2xl lora italic font-bold m-0 capitalize px-4">{post.title}</h2>
        <hr>
        <p class="text-gray-500 text-sm flex flex-row justify-between px-4">
            <time datetime={post.date} class="font-normal py-1">{formattedDate}</time> By {post.author?.node?.name || 'Team POCF'}
        </p>
        <hr>
        <div class="px-4 prose prose-p:text-gray-800" set:html={post.excerpt} />
        <div class="px-4">
            <button class="w-44 lora italic flex flex-row justify-between items-center gap-3 bg-primary text-white hover:bg-secondary group-hover:bg-secondary lora uppercase text-[11px] font-bold mt-3">
                <span class="w-4/5 text-center">Read More</span>
                <Icon name="arrowright" class="text-white bg-secondary flex justify-center items-center p-2 w-8 h-auto"/>
            </button>
        </div>
        <hr class="w-full mx-auto mt-2 h-0 border border-primary rounded-lg" />
    </article>
</a>