---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const { post } = Astro.props;
const { title, image, imagealt, pubDate, description } = post.data;

const date = new Date(pubDate);
const year = date.getFullYear();
const month = date.toLocaleString('en-US', { month: 'short' });
const day = date.getDate();
const formattedDate = `${day} ${month}`;
---
<div class="w-full col-span-12 md:col-span-6 grid grid-cols-7 gap-6 mt-12">
    <div class="col-span-12 md:col-span-4">
        <a href={`/stories/${post.slug}`}>
            <Image class="w-full h-auto" src={image} alt={imagealt} />
        </a> 
    </div>
    <div class="col-span-12 flex flex-col md:col-span-3">
        <p class="lora text-sm text-gray-500">
            <time datetime={pubDate} class="text-md p-0 font-normal py-2 mt-5 text-gray-500">{formattedDate}, {year}</time>
        </p>
        <a class="lora" href={`/stories/${post.slug}`}>
            <h2 class="text-[25px] text-capitalize font-bold m-0 lora italic capitalize">{title}</h2>
        </a> 
        <p class="pt-2 lato text-gray-500">
            { description.slice(0, 65) + "..." }
        </p>
        <a href={`/stories/${post.slug}/`} class="w-4/5 flex flex-row justify-between items-center gap-3 bg-primary text-secondary hover:bg-secondary hover:text-white lora uppercase text-[11px] font-bold mt-3">
            <span class="w-4/5 text-center">Read More</span>
            <Icon name="arrowright" class="text-white bg-secondary flex justify-center items-center p-2 w-8 h-auto"/>
        </a>
    </div>
</div>